@tailwind base;

:root {
    --electric-blue: #1343DE;
    --midnight-blue: #002D50;
}

@font-face {
	font-family: 'UNiDAYSPro-Demi';
	src: url("all-demi.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

@tailwind components;

.main {
    @apply mt-px-112 bg-pale-blue;
}

.content-wrapper {
    @apply max-w-px-1500 mx-auto px-4 py-8;
}

.content-header > h1 {
    @apply font-demi text-2xl pb-6;
}

.content {
    @apply rounded bg-white shadow-lg p-4;
}

.content > h1 {
    @apply text-xl font-demi mb-6;
}

.content > h2 {
    @apply text-base font-demi mb-3;
}

.content > *:last-child {
    margin-bottom: 0;
}

.component-sample {
    @apply mb-6;
}

.code {
    @apply p-3 mt-4 bg-gray-200 rounded;
}

.btn {
    @apply font-demi w-56 text-base p-3 rounded mr-3 border-2 border-midnight-blue;
}

.btn-primary {
    @apply text-white bg-midnight-blue;
}

.btn-primary:hover {
    @apply bg-electric-blue border-electric-blue;
}

.btn-secondary {
    @apply text-midnight-blue;
}

.btn-secondary:hover {
    @apply text-electric-blue border-electric-blue;
}

@tailwind utilities;

.font-demi {
    font-family: 'UNiDAYSPro-Demi';
}

.mt-px-112 {
    margin-top: 112px;
}

.max-w-px-1500 {
    max-width: 1500px;
}

.bg-pale-blue {
    background-color: #edf3f7;
}

.text-electric-blue {
    color: var(--electric-blue);
}

.bg-electric-blue {
    background-color: var(--electric-blue);
}

.border-electric-blue {
    border-color: var(--electric-blue);
}

.text-midnight-blue {
    color: var(--midnight-blue);
}

.bg-midnight-blue {
    background-color: var(--midnight-blue);
}

.border-midnight-blue {
    border-color: var(--midnight-blue);
}
